<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthapp.healthapp" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
4
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.healthapp.healthapp.MainActivity" />
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.healthapp.healthapp.MainActivity" />
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Results"
            android:label="@string/title_activity_results"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BarcodeScan"
            android:label="@string/title_activity_barcode_scan"
            android:screenOrientation="portrait" >
        </activity>
        android:debuggable="true"
        <activity
            android:name=".Demo_Reviews"
            android:label="@string/title_activity_demo__reviews" >
        </activity>
    </application>

</manifest>
